.top_menu {
    /*color: crimson;*/
    /*设置div高度 宽度默认与父级标签的宽度大小相同*/
    height: 100px;
    /*设置div标签的背景颜色 3种方式*/
    /*第一种，通过颜色的单词来设置颜色*/
    /*background: black;*/
    /*第二种，通过rgb设置颜色*/
    /*background: rgb(0, 191, 255);*/
    /*第二种，通过rgba设置颜色，RGBa扩展了RGB颜色模式，它包含了阿尔法通道，允许设定一个颜色的透明度。 a 表示透明度：0=透明；1=不透明；*/
    /*background: rgba(0, 191, 255, 0.7);*/
    /*第三种，通过十六进制设置颜色*/
    background: #1E90FF;
}

/*.title 类选择器 */
.title {
    /*background: crimson;*/
    /*设置文本颜色*/
    color: #ffffff;
    /*设置字体高度*/
    width: 450px;
    /*设置字体相关属性
    font-weight ——> 指定字体的粗细程度：bold：字体加粗 normal：正常字体
    font-size CSS 属性指定字体的大小 ——> 32px
    font-family ——> 字体：微软雅黑
    line-height CSS 属性用于设置多行元素的空间量，如多行文本的间距。 ——> 行高 100px
        可以通过是设置行高和父级div块元素一样高来设置垂直居中的效果
    */
    font: normal 32px/100px 微软雅黑;
    /*设置文字水平居中*/
    text-align: center;
    /*设置浮动*/
    float: left;
}

.left_menu {
    position: absolute;
    top: 120px;
    left: 0;
    width: 300px;
    height: 1000px;
    background-color: #fdfbff;
}

.left_menu_title {
    float: left;
    font: normal 28px/100px 微软雅黑;
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #1E90FF;
    text-indent: 50px;
}

.left_menu_list li h3 {
    float: left;
    height: 60px;
    width: 100%;
    font: normal 22px/60px 微软雅黑;
    color: #949292;
    text-indent: 50px;
    border-bottom: solid 1px #e3e2ed;
    background-image: url("../images/arrow-ios-downward.png");
    background-repeat: no-repeat;
    background-position: 200px;
}

.left_menu_list li a {
    float: left;
    width: 100%;
    color: #2c60ed;
    background: #eef2ff;
    font: normal 16px/40px 微软雅黑;
    text-indent: 60px;
}

/*添加项目弹窗的样式*/
.back {
    width: 100%;
    height: 100%;
    background: rgba(146, 151, 162, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.add_pro {
    position: fixed;
    left: 42%;
    top: 250px;
    width: 550px;
    height: 600px;
    background-color: #ffffff;
    border: solid 1px #9297a2;
    border-radius: 20px;
    padding: 0 20px;
}

.add_title {
    font: bold 26px/40px 微软雅黑;
    color: #1E90FF;
    text-align: center;
    margin-bottom: 20px;
}

.add_quit {
    position: absolute;
    top: 10px;
    right: 15px;
}

.add_pro_input {
    width: 100%;
    height: 50px;
    font: normal 28px/15px 微软雅黑;
    color: #1E90FF;
    margin-bottom: 30px;
}

.add_pro_input label {
    width: 50px;
    font: normal 22px/45px 微软雅黑;
    color: #1E90FF;
}

.add_pro_input input {
    width: 380px;
    height: 90%;
    border-radius: 5px;
    font: normal 22px/50px 微软雅黑;
    border: solid 1px #1E90FF;
}

.add_pro_desc {
    font: normal 22px/44px 微软雅黑;
    color: #1E90FF;
}

.add_pro_desc textarea {
    width: 100%;
    height: 150px;
    border: solid 1px #1E90FF;
    font: normal 22px/25px 微软雅黑;
    border-radius: 5px;
}

.add_pro_submit {
    text-align: center;
}

#project_submit {
    margin-top: 20px;
    text-align: center;
    width: 100px;
    height: 50px;
    background: #1E90FF;
    border-radius: 10px;
    border: solid 1px #1E90FF;
    font: normal 22px/44px 微软雅黑;
    color: #ffffff;
}


.project_info {
    width: 240px;
    height: 200px;
    border: solid 1px #9297a2;
    margin-top: 40px;
    margin-left: 15px;
    float: left;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content {
    position: absolute;
    top: 120px;
    left: 320px;
    width: 1580px;
    height: 1000px;
    background-color: #fdfbff;
    padding-left: 40px;
}

.project_name {
    font: normal 25px/50px 微软雅黑;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #95caff;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project_info p {
    font: normal 20px/35px 微软雅黑;
    color: rgba(0, 0, 0, 0.5);
}


.project_info a {
    font: normal 20px/50px 微软雅黑;
    color: #fff;
    background-color: #74afff;
    border-radius: 5px;
}


.project_info delete_button {
    width: 1000px;
}

.project_info img {
    margin-top: 67px;
}

.project_info a:hover {
    text-decoration: none;
    color: #ff5470;
}


/*.menu_list li 层级选择器：选中class名为menu_list下的li*/
.menu_list li {
    color: #fff;
    font: normal 22px/100px 微软雅黑;
    width: 230px;
    height: 100px;
    /*设置浮动*/
    float: left;
    /*设置去掉li前边的符号*/
    list-style: none;
    text-align: center;
}

.login_logout a {
    color: #fff;
    font: normal 16px/100px 微软雅黑;
    float: right;
    margin-top: 4px;
    margin-right: 30px;
    text-decoration: none;

}

/*去除a标签的hover事件*/
.login_logout a:hover {
    text-decoration: none;
}

.left_menu_list a:hover {
    text-decoration: none;
}

.left_menu_list li:hover {
    background-color: #e8e6ed;
}

.menu_list li:hover {
    background-color: #96bbed;
}


/* .top_menu, .title, .menu_list, .p  组选择器 */
/*.top_menu, .title, .menu_list, .p {*/
/*    color: deeppink;*/
/*}*/


/* #main_title id选择器 */
/*#main_title {*/
/*    !*background: crimson;*!*/
/*    !*设置文本颜色*!*/
/*    color: #ffffff;*/
/*    !*设置字体高度*!*/
/*    width: 350px;*/
/*    !*设置字体相关属性*/
/*    font-weight ——> 指定字体的粗细程度：bold：字体加粗 normal：正常字体*/
/*    font-size CSS 属性指定字体的大小 ——> 32px*/
/*    font-family ——> 字体：微软雅黑.menu_list li 层级选择器：选中class名为menu_list下的li*/
/*.menu_list li{*/
/*    color: crimson;*/
/*}*/
/*    line-height CSS 属性用于设置多行元素的空间量，如多行文本的间距。 ——> 行高 100px*/
/*        可以通过是设置行高和父级div块元素一样高来设置垂直居中的效果*/
/*    *!*/
/*    font: normal 32px/100px 微软雅黑;*/
/*    !*设置文字水平居中*!*/
/*    text-align: center;*/
/*}*/